/*
  Some adjustments and additions to the standard buttons from skel.
*/

.banner {

  /*text-decoration: underline;*/
  border-top: 1px solid _palette(border2-bg);
  border-bottom: 1px solid _palette(border2-bg);

  /* shadows: https://css-tricks.com/almanac/properties/b/box-shadow/ */
  &.button {
    position: relative;
    width: 100%;
    margin: 0;
    font-size: 1.3em;
    padding: .4em 0 .4em 0;

    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }

  &.button:before, &.button:after {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top: 50%;
    bottom: 0;
    left: 10px;
    right: 10px;
    -moz-border-radius: 100px / 10px;
    border-radius: 100px / 10px;
  }
  &.button:after {
    right: 10px;
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg);
    -moz-transform: skew(8deg) rotate(3deg);
    -ms-transform: skew(8deg) rotate(3deg);
    -o-transform: skew(8deg) rotate(3deg);
    transform: skew(8deg) rotate(3deg);
  }

}

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {

  &:not(.hashtag) {
    font-family: _font(family-heading);
  }
}

@include breakpoint(small) {
  .button,
  .button.banner{
    font-size: 0.8em;
  }
}