/* The sides of the panel are sperate so they can use the skel grid. */

$heroHeight: 300px;

.hero-panel {

  height: $heroHeight;
  padding: 0;

  .hero {


    img {
      height: $heroHeight;
    }
  }

  border: 1px solid _palette(accent1, fg-bold);
  background-color: _palette(bg);

  &.left-panel {
    position: relative;
    color: _palette(accent1, fg-bold);
    font-size: .8em;
    overflow: hidden;

    a {
      border-bottom: none;
      box-sizing: border-box;

      @include img-dimmer;
    }

    .icons,
    .content,
    .meta {
      pointer-events: none;
    }

    .icons,
    .content{
      padding: (_size(element-margin) * 0.1) (_size(element-margin));
    }

    .icons {
      position: absolute;
      top: (_size(element-margin) * 0.7);
      font-size: 1.7em;
      z-index: 5;
    }

    .content {
      position: absolute;
      bottom: 0;
      z-index: 6;
    }

    .meta {
      text-transform: uppercase;
      color: _palette(accent1, fg-light);
      font-size: 1.1em;
      z-index: 7;
    }
  }

  &.right-panel {

    height: $heroHeight + 2;  /* extra to make up for the border on the left. */
    overflow-y: auto;
    box-sizing: border-box;

    padding: (_size(element-margin) * 0.5);

    p {
      font-size: .9em;
      margin-bottom: 0;
      line-height: 1.3em;
    }

    p:last-child {
      margin-top: .4em;
    }

    @include breakpoint(large) {

      height: auto;
      p {
        font-size: 1em;
        line-height: 1.2em;
      }
    }
  }

  @include breakpoint(small) {

    &.left-panel {
      margin-top: _size(element-margin);
    }
  }

}