#home-streamcasts {

  background: _palette(bg-alt2) url("../img/bg-homestreams.jpg") bottom no-repeat;
  background-size: cover;

  padding-bottom: 120px;

  .hover-list {
    .header {
      margin-bottom: 0.9em;
    }

    &.last {
      margin-bottom: _size(element-margin);
    }
  }

  @include breakpoint(large) {
    .hover-list {
      margin-bottom: _size(element-margin);
    }

    a.button {
      margin-bottom: _size(element-margin);
    }
  }
}
