// Font.
$font: (
        family: ('Raleway', Helvetica, sans-serif),
        family-fixed: ('Courier New', monospace),
        family-heading: ('Montserrat', sans-serif),
        weight: 400,
        weight-heading: 700,
        weight-bold: 700,
        kerning: 0.08em,
        kerning-heading: 0.1em,
  /* TODO: Add font sizes then use in tags, buttons, etc */
);

// Palette.
$palette: (
        bg: #ffffff,
        bg-alt: #6c7799,
        bg-alt2: #BFD0FF,
        bg-header-lock: rgba(0, 0, 0, 0.8),
        fg: #000000,
        fg-bold: #4E7AFF,
        fg-light: #aaaaaa,
        border: #4E7AFF,
        border-bg: rgba(144, 144, 144, 0.075),
        border2: #eaeaea,
        border2-bg: rgba(144, 144, 144, 0.2),
        highlight: accent1,
        loud: accent4,
        invert: (
                bg: #000000,
                fg: rgba(255, 255, 255, 0.75),
        ),
        accent1: (
                bg: #2e4897,
                fg: rgba(255, 255, 255, 0.9),
                fg-bold: #ffffff,
                fg-light: rgba(255, 255, 255, 0.85),
                border: #ffffff,
                border-bg: rgba(255, 255, 255, 0.075),
                border2: #000000,
                border2-bg: rgba(255, 255, 255, 0.2),
                highlight: accent1,
                loud: accent4,
        ),
        accent2: (
                bg: #4E7AFF,
                fg: rgba(255, 255, 255, 0.75),
                fg-bold: #ffffff,
          /* todo */
                fg-light: rgba(255, 255, 255, 0.5),
                border: #ffffff,
                border-bg: rgba(255, 255, 255, 0.075),
                border2: #ffffff,
                border2-bg: rgba(255, 255, 255, 0.2),
                highlight: accent1,
                loud: accent4,
        ),
        accent3: (
                bg: #678dff,
                fg: rgba(255, 255, 255, 0.75),
                fg-bold: #ffffff,
          /* todo */
                fg-light: rgba(255, 255, 255, 0.5),
                border: #ffffff,
                border-bg: rgba(255, 255, 255, 0.075),
                border2: #ffffff,
                border2-bg: rgba(255, 255, 255, 0.2),
                highlight: accent1,
                loud: accent4,
        ),
        accent4: (
                bg: #B20000,
                fg: rgba(255, 255, 255, 0.75),
                fg-bold: #ffffff,
          /* todo */
                fg-light: rgba(255, 255, 255, 0.5),
                border: #ffffff,
                border-bg: rgba(255, 255, 255, 0.075),
                border2: #ffffff,
                border2-bg: rgba(255, 255, 255, 0.2),
                highlight: accent1,
                loud: accent4,
        ),
        play-button: #ffce4e,
);

// Duration.

$duration: (
  /* todo */
        menu: 0.5s,
        transition: 0.2s,
        features: 1s,
        spotlight: 1s,
        banner: 1s,
        nav: 0.5s
);

// Size.
$size: (
        border-radius: 0,
        border-width: 1px,
        element-margin: 2em,
  /* todo */
       /* element-height: 2.75em,
        main-pad: 5em,
        inner-width: 60em,
        navPanel-width: 20em,*/
  /* mine */
        button-height: 2.3em,
);

// Misc.
$misc: (
        z-index-base: 10000,
);